@model Conciertos1.Data.Entities.Ticket

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Ticket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="WasUsed" /> @Html.DisplayNameFor(model => model.WasUsed)
                </label>
            </div>

            <partial name ="_Ticket"/>

            <div class="form-group mt-5">
                <input type="submit" value="Registrar" class="btn btn-outline-primary" />
                <a asp-action="Index" class = "btn btn-outline-success">Volver</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
